#footer= 'Copyright © ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + '.'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo.
  a(rel='nofollow', target='_blank', href='https://github.com/tufu9441/maupassant-hexo')  Theme
  |  by
  a(rel='nofollow', target='_blank', href='https://github.com/pagecho')  Cho.
  br
  if theme.miit_beian
    a(rel='nofollow', target='_blank', href='http://www.miitbeian.gov.cn') #{theme.miit_beian}
  if theme.miit_beian && theme.wangan_beian
    |  |
    |  
  if theme.wangan_beian
    img(class='nofancybox', src="https://www.haomwei.com/img/beian.png", style='margin-bottom: -4px;')
    a(rel='nofollow', target='_blank', href='http://www.beian.gov.cn') #{theme.wangan_beian}
